<h1>PdfCalendar</h1>
<%= form_for @conn, Routes.page_path(@conn, :download),[as: :pcal], fn f -> %>
  <label>
    Month: <%= select f, :month, months(), [selected: current_month()] %>
  </label>
  <label>
    Year: <%= select f, :year, years(), [selected: current_year()] %>
  </label>
  <%= submit "Download" %>
<% end %>
